@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

body{
  background-color: black;
  color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  margin:0;
  padding-top:110px;
}

#my-story{
  padding:500px;
  padding-bottom: 1000px;
  min-height:50vh;
  background-image: url('liam-mcgarry-ebsrin6WqxQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  font-size: 40px;

}
header{
  background:rgba(255,255,255,0.0);

  display: flex;
  width:100%;
  height:100px;
  position:fixed;
  top:0;
  z-index: 1000;
}
.header-items{
  padding:20px;
}
a{
  text-decoration: none;
}
img{
  width:700px;
  height: 1000px;
  border-radius: 10%;

  animation: fadeIn 4s

}
section{
  display: grid;
  place-items: center;
  align-content: center;
  min-height:100vh;
  margin:10px;

}

.img-links{
  width: 200px;
  height: 200px;
  margin:15px;
}
span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
a{
  color: white;

}

iframe{
  width:1000px;
  height:800px;
  border-radius: 10px;
}
.hidden{
  opacity: 0;
  filter:blur(5px);
  transform: translateX(-100%);
  transition: all 3s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* .appear{
  opacity : 1;
  filter : blur(0);
  animation: fadeIn 4s
} */

.projects{
  display:flex;

}

.project:nth-child(2){
  transition-delay: 400ms;
}

#links{
  display: flex;


}

#theatre{
  width: 100%;
  height: 100%;
  border-radius: 0%;
}

#contact{
  background-image: url('brooklyn-bridge-park.jpeg');
  /* background-repeat: no-repeat; */
  background-size:cover;
  width:100%;
  color:black;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin-top: -600px;

}

#bridge{
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-left:500px;
}

